*{
    margin: 0;
}

.contenedor{
    background: powderblue;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    border-radius: 12px;
    font-size: 80px;
    font-size: xx-large;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 4px 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    background-color: rgb(25, 201, 207);
    color: rgb(0, 0, 0);
}

#si{
    transform: translate(-100%,0);
}

#no{
    position: absolute;
}
