.terminal{
    width: 50%;
    height: 500px;
    background-color: black;
    color : rgb(49, 253, 49);

    /* background-image: url("view\public\images\heritech\wallpaper_heritech.png"); */
}

.terminal-image{
    /* background-color: red; */
    top: 70%;
    opacity: 50%;
    translate: 0%;
    position: fixed;
    display:block;
}

.switch-container{
    width:20%;
}

.login_container{
    padding: 80px;
    background-color: black;
}

.view_image{
    width: 50%;
}

.db_module_container{
    display:flex;
    padding: 20px;
}

.db_module_container_element{
    padding: 50px;
}

.simplecube{
    border-radius: 8px;
    width: 8px;
    height: 500px;
    background-color: rgb(50, 50, 50);
}

.presentation{
    color:white;
    padding:40px;
    background-color: rgb(44, 44, 44);
}

.knote_container{
    padding:20px;
    background-color: gray;
}

.kImg{
    width: 40%;
}



.kSidebar{
    background-color: red;
    width:10%;
    top:0px;
    display:inline-block;
}

.page_container{
    width: 80%;
    display:inline-block;
}